@Model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>application Error.</h1>
        <h2>An error occurred while processing your request.</h2>
        <h2>Exception details:</h2>
            @ViewBag.Message
    </hgroup>
</body>
</html>
